li {
  display: flex;
  margin-bottom: 5px;
}

.listElement {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 5px;
}

.deleteButton {
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0 10px;
  margin-left: 5px;
  background-color: #e84a5f;
  border-radius: 0.25rem;
  border: 1px solid #e84a5f;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}
.deleteButton:hover {
  background-color: #cc3c50;
  border-color: #cc3c50;
}
